html {
    font-size: 12px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    font-family: sans-serif;
}

body {
    margin: 8px;
}

.option {
    display: inline-block;
    background-color: #113916;
    padding: 6px;
    margin: 3px;
    border-radius: 4px;
    font-family: sans-serif;
    color: white;
    cursor: pointer;
    user-select: none;

    transition: 0.1s;
}

.option.selected {
    background-color: #4E9A26;
}

.option.disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));

    cursor: default;
}

.bingo {
    display: inline-block;
    background-color: black;
    padding-bottom: 2px;
}

.row {
    display: flex;
    /**
     *  The bottom pixel gap is covered by .bingo
     *  The left pixel gap is covered by .cell 
     */
    margin: 2px 2px 0 0;
}

.cell {
    /* Full width - body margin - 6 grid lines, divided by 5 */
    width: calc((100vw - 8px * 2 - 2px * 6) / 5);
    height: calc((100vw - 8px * 2 - 2px * 6) / 5);

    max-width: 75px;
    max-height: 75px;

    background-color: white;
    overflow: hidden;
    position: relative;

    margin-left: 2px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;
}

.cell .selected-background {
    z-index: 0;

    width: 100%;
    height: 100%;
    position: absolute;

    /* also works with an actual image, 
     * not just with a CSS gradient *
    url(https://images.unsplash.com/photo-1633596683562-4a47eb4983c5?w=1400) 
        50%/ cover/**/
    filter: url(#grainy);
    opacity: 0.6;
}

.cell p {
    z-index: 1;

    font-family: sans-serif;
    user-select: none;
    /* This isn't ideal. Should probably split? */
    overflow-wrap: break-word;
    hyphens: auto;

    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 3px;
}

/**
 *  Handle colors for coloring in your bingo board!
 */
.colors {
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Cell width * 5 + border width * 5 + 1) */
    width: calc(100vw - 20px - 8px * 2);
    max-width: calc(75px * 5 - 20px + 2px * 6);
}

.colors div {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
}

.colors div.selected {
    border: 3px solid black;
}

/**
 *  Movie
 */
.movie {
    margin-top: 10px;
    padding: 5px 20px;
    width: calc(100vw - 40px - 8px * 2);
    max-width: calc(75px * 5 - 40px + 2px * 6);

    border-radius: 10px;
    box-shadow: 3px 3px 4px #949191;

    font-size: 2em;
    font-family: sans-serif;
    color: white;
    background-color: #3B3B3C;

    display: flex;
}

.movie img {
    width: 55px;
    /* Make it white */
    filter: invert(100%);
}

.movie p {
    margin-left: 10px;
}

/**
 *  Popup
 */
 .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.popup-content h2 {
    text-align: center;
}

#submitInfo {
    display: block;
    margin: 0 auto;
}