html {
    font-size: 12px;
}

.option {
    display: inline-block;
    background-color: #113916;
    padding: 6px;
    margin: 3px;
    border-radius: 4px;
    font-family: sans-serif;
    color: white;
    cursor: pointer;
    user-select: none;
}

.option.selected {
    background-color: #4E9A26;
}

.bingo {
    display: inline-block;
    background-color: black;
    padding-bottom: 2px;
}

.row {
    display: flex;
    /**
     *  The bottom pixel gap is covered by .bingo
     *  The left pixel gap is covered by .cell 
     */
    margin: 2px 2px 0 0;
}

.cell {
    /* Should ideally be some combination of vw and vh */
    width: 75px;
    height: 75px;
    background-color: white;
    overflow: hidden;
    position: relative;

    margin-left: 2px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;
}

.cell .selected-background {
    z-index: 0;

    width: 100%;
    height: 100%;
    position: absolute;

    /* also works with an actual image, 
     * not just with a CSS gradient *
    url(https://images.unsplash.com/photo-1633596683562-4a47eb4983c5?w=1400) 
        50%/ cover/**/
    filter: url(#grainy);
    opacity: 0.6;
}

.cell p {
    z-index: 1;

    font-family: sans-serif;
    user-select: none;
    /* This isn't ideal. Should probably split? */
    overflow-wrap: break-word;
    hyphens: auto;

    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 3px;
}

/**
 *  Handle colors for coloring in your bingo board!
 */
.colors {
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Cell width * 5 + border width * 5 + 1) */
    width: calc(75px * 5 + 2px * 6 - 20px);
}

.colors div {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
}

.colors div.selected {
    border: 3px solid black;
}